<div>
    <div>
        {{#each rolls as roll}}
        <img alt="{{roll}}" src="public/modules/ffg-roller/images/{{roll.imageName}}.png" width="36" height="36">
        {{/each}}
    </div>
    <hr>
    <div>
        <ul>
            {{#if results.opportunity > 0}}
            <li>Opportunity: {{results.opportunity}}</li>
            {{/if}}
            {{#if results.strife > 0}}
            <li>Opportunity: {{results.strife}}</li>
            {{/if}}
            {{#if results.successes > 0}}
            <li>Opportunity: {{results.successes}}</li>
            {{/if}}
            {{#if results.failures > 0}}
            <li>Opportunity: {{results.failures}}</li>
            {{/if}}
        </ul>
    </div>
</div>